<section class="container">
    <br/><br/>
    <div class="panel panel-default col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="panel-body text-center">
            <h1>Upcoming Events!</h1>
            <hr class="heading-hr">
            <div Class="padding">
                <p-dataTable [value]="activity" [rows]="5" [paginator]="true" [responsive]="true" >
                    <p-column field="id" header="S.No." [style]="{'width': '10%'}"></p-column>
                    <p-column field="name" header="Activity"></p-column>
                    <p-column field="date" header="Next Event Date">
                        <ng-template  let-col let-act="rowData" pTemplate="body">
                            {{act[col.field] | date : 'fullDate'}}
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</section>