<section class="container">
    <div class="panel panel-default col-md-6 col-md-offset-6 col-sm-offset-1 col-sm-10 col-xs-12 margin">
        <div class="panel-body text-center">
            <h1>Think. Believe. Dream. Dare.</h1>
            <hr class="heading-hr">
            <div>
                <b>
                Welcome to the employee activity app. Know about upcoming activities, plans 
                and register for the interested ones. Whether it is for fun, exploration, 
                learn or join a hobby. Come be a part of fun extravaganza. 
                </b>
            </div>

            <br/>

            <button class="btn btn-danger"  data-toggle="modal" data-target="#sign-up-form">Get Started</button>

        </div>
    </div>
</section>

<div id="sign-in-form" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form method="post" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">
                    <div class="col-xs-12">
                        <!-- Email -->
                        <input name="email" class="form-control" type="email" placeholder="Email" required>
                    </div>
                    <br/><br/>
                    <div class="col-xs-12">
                        <!-- Password -->
                        <input name="password" class="form-control" type="pass" placeholder="Password" required>
                    </div>
                    <br/><br/>
                    <div class="col-xs-12">
                        <div class="text-center">
                            <p-checkbox name="remember-me" ngModel #rememberMe="ngModel" required></p-checkbox>
                            <label for="remember-me">Remember me</label>
                        </div>
                    </div>
                    <br/>
            </div>
            <div class="modal-footer">
                <div class="btn-form text-right col-xs-12 col-md-12">
                    <button class="btn btn-danger col-xs-12 col-md-12 col-sm-12">Sign In</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>

<div id="sign-up-form" class=" modal fade" role="dialog">
    <div class="modal-dialog modal-sm" >
        <div class="modal-content">
            <form method="post" novalidate #personForm="ngForm"  (ngSubmit)="onSubmit()">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Sign Up</h4>
            </div>            
            <div class="modal-body">
                <div class="col-xs-12">
                    <!-- First Name -->
                    <input name="firstName" ngModel #firstName="ngModel" class="form-control" 
                    [ngClass]="{'error': !(firstName.valid || (firstName.pristine && !personForm.submitted))}" type="text" placeholder="First Name*" required>
                </div>
                <br/><br/>
                <div class="col-xs-12">
                    <!-- Last Name -->
                    <input name="lastName" ngModel #lastName="ngModel" class="form-control" type="text" 
                    [ngClass]="{'error': !(lastName.valid || (lastName.pristine && !personForm.submitted))}" placeholder="Last Name*" required>
                </div>
                <br/><br/>
                <div class="col-xs-12">
                    <!-- Email -->
                    <input name="email" ngModel #email="ngModel" class="form-control" type="email" pattern="[^ @]*@[^ @]*"
                    [ngClass]="{'error': !(email.valid || (email.pristine && !personForm.submitted))}" placeholder="Email*" required>
                </div>
                <br/><br/>
                <div class="col-xs-12">
                    <!-- Activity -->
                    <p-dropdown [options]="activity" #activityM="ngModel" name="activityId" ngModel [style]="{'width':'100%'}" 
                    [ngClass]="{'error': !(activityM.valid || (activityM.pristine && !personForm.submitted))}" [required]="true"></p-dropdown>
                </div>
                <br/><br/>
                <div class="col-xs-12">
                    <!-- Comments -->
                    <input name="comments" ngModel #comments="ngModel" class="form-control" type="text" 
                    [ngClass]="{'error': !(comments.valid || (comments.pristine && !personForm.submitted))}" placeholder="Comments" required>
                </div>
                <br/><br/>
                <div class="col-xs-12 text-center">
                        <!-- <input type="checkbox" name="agreement" ngModel #agreement="ngModel" required> -->
                        <p-checkbox name="agreement" ngModel #agreement="ngModel" required></p-checkbox>
                        <label for="agreement">I agree to T&C</label>
                        <span [hidden]="(agreement.valid || !personForm.submitted)" class="text-danger">*</span>
                </div>
                <br/>
                <div class=" text-center text-danger">
                    <span  *ngIf="error">Oops! Something is not right..<br> Please try again later!</span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-form text-center col-xs-12">
                    <button type="submit" class="btn btn-danger  col-xs-12 col-md-12 col-sm-12" >Sign Up</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>